body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.iphone{
    margin-top: 10px;
    width: 290px;
    height: 550px;
    border: 7px solid black;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.sleep{
    width: 290px;
    height: 550px;
    position: absolute;
    z-index: 5;
    visibility: hidden;
    background-color: rgb(11, 11, 11);
}
.nav{
    width: 50%;
    background-color: black;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
}
.nava{
    background-color: rgb(66, 66, 66);
    width: 35px;
    height: 8px;
    border-radius: 200px 200px;
    margin-right: 10px;
}
.navb{
    background-color: rgba(255, 255, 255, 0.531);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: -35px;
}
.on_off{
    background-color: black;
    width: 8px;
    height: 60px;
    margin-left: -4px;
    margin-top: -230px;
    border-radius: 200px 200px ;
}
.lockscreen_sect{
    width: 290px;
    height: 550px;
    background-image: url(iphon2\ img.JPG);
    background-size: cover;
    background-position: center;
    position: absolute;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.password_sect{
    width: 290px;
    height: 550px;
    position: absolute;
    background-image: url(iphon2\ img.JPG);
    background-size: cover;
    background-position: center;
}
.cover{
    width: 290px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.lock{
    width: 60px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.word_lock{
    width: 80%;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pin{
    width: 65%;
    height: 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.pin span{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: transparent;
}
.keys{
    width: 80%;
    height: 250px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.keys button{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    border: 0;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
}
.home_sect{
    width: 290px;
    height: 550px;
    position: absolute;
    background-color: black;
}
.carousel{
    /* background-color: rgb(11, 211, 88); */
    width: 290px;
    height: 550px;
}
.first{
    position: relative;
    width: 290px;
    height: 550px;
    background-color: aqua;
}
.sea{
    position: absolute;
    width: 95%;
    height:23% ;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left,.right{
    width: 47%;
    height: 90%;
    border-radius: 15px;
    background-color: black;
    overflow-y: scroll;
}
.left::-webkit-scrollbar {display: none;}
.right::-webkit-scrollbar {display: none;}
.widgetb::-webkit-scrollbar {display: none;}
.widgeta{
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2022/11/06/10/54/clock-7573739_1280.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 5px;
}
.widgetaa{
    width: 100%;
    height: 100%;
    background-image: url(globe.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
div[bb]{
    display: none;
}
.widgetb{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}
.widgetbb{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(77, 49, 217);
    display: flex;
    align-items: center;
}
.widgetb:hover div[bb]{ 
    display: block;
}
.widgetb img{
    width:90%;
    height: 100%;
    padding: 16px;
}
.widgetc{
    color: white;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.widgetcc{
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgb(179, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.seba{
    position: absolute;
    width: 95%;
    height:48% ;
    /* background-color: rgb(51, 255, 0); */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 12px;
}
.seba button,.sec button,.thirda button{
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(22, 39, 149, 0);
    border: 0;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}
.seba button img,.sec button img,.thirda button img{
    width: 120%;
    height: 95%;
    border-radius: 7px;
}
.seba button p,.sec button p,.thirda button p{
    font-size: 10px;
    font-family: sans-serif;
    color: white;
}
/* button svg[a]{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
} */
.sec{
    position: absolute;
    width: 90%;
    height:12% ;
    border-radius: 5px;
    background-color: rgba(240, 241, 241, 0.667);
    backdrop-filter: blur(20px);
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.second{
    position: relative;
    width: 290px;
    height: 550px;
    background-color: rgb(225, 29, 29);
    background-image: url(iphone\ bg.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.third{
    width: 290px;
    height: 550px;
    background-image: url(iphone\ bg.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.thirda{
    width: 90%;
    height: 50%;
    margin-top: -40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    top: 60px;
}
.fourth{
    width: 290px;
    height: 550px;
    background-color: rgb(213, 15, 101);
}
.topper{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topa{
    width: 26%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topaa{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px;
}
.topb{
    width: 50%;
    height: 100%;
    background-color: rgba(17, 11, 196, 0);
}
.service{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.service p{
    animation-name: Airtel;
    animation-iteration-count:infinite ;
    animation-duration: 9s;
    animation-timing-function: ease;
}
.footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footera {
    position: absolute;
    bottom: 0;
    width:85%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.da {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.124);
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_button{
    width: 40%;
    height: 2.8px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 88px;
    border-radius: 20px 20px;
    animation-name:swipe ;
    animation-iteration-count: infinite;
    animation-duration: 5s ;
    animation-direction: alternate;
}
.pdance{
    animation-name:pdance ;
    animation-iteration-count: infinite;
    animation-duration: 5s ;
    animation-direction: alternate;
}
.widget_on_lockscreen{
    width: 80%;
    height: 130px;
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    right:-30px;
}
.padlock{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone_charging_circle{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 5px solid rgb(97, 235, 97);
    display: flex;
    align-items: center;
    justify-content: center;
}
main[a]{
    position: relative;
}
aside[a]{
    position:absolute;
    right: 26%;
    bottom: 25%;
    
}
.calc_section,.note_section,.clock_section,.photo_section,.music_section,.camera_section,.call_section,.message_section,.weather_section,.contact_section,.game_section,.sub_section,.cart_section,.under_construction{
    background-color: black;
    width: 100%;
    height: 100%;
    display: none;
    position: relative;

}
.calc_inner{
    background-color: black;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
.note_inner{
    background-color: black;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.clock_inner{
    background-color: brown;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
.photo_inner{
    background-color: brown;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
.music_inner{
    background-color: brown;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
.camera_inner{
    background-color: brown;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
.call_inner{
    background-color: black;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
#dial{
    width: 100%;
    height: 89%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#call_switcher{
    width: 100%;
    background-color:black;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.carrier{
    margin-top: -20px;
    background-color:black;
    width: 90%;
    height: 350px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0px;
}
.carrier button{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    border: 0;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

p[dial]{
    font-size: 10px;
    font-weight: 900;
    margin-top: -5px;
}
#call_switcher button{
    width: 40px;
    height: 35px;
    background-color: transparent;
    border: 0;
}
#calling{
    width: 100%;
    height: 110%;
    background-color: #595c60;
    position:absolute;
    z-index: 10;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;

}
#calling_up{
    width: 80%;
    height: 50px;
    background-color: #595c60;
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calling_down{
    width: 95%;
    height: 35%;
    background-color: #595c60;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#calling_down div{
    width: 73px;
    height: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calling_down div button{
    width:  60px;
    height: 160px;
    border-radius: 100%;
    background-color: #616569 ;
    border: 0;
}
#calling_down div p{
    margin-bottom: -5px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
p[da]{
    font-size: 17px;
    font-family: sans-serif;
    color: #b3b4bb;
    font-weight: 600;
}
#dailing_no{
    margin-top: -25px;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    font-weight: 800;
}
#contacts_{
    width: 100%;
    height: 89%;
    position: absolute;
    z-index: 4;
    background-color: blue;
    top: 0;
    visibility: hidden;
}
#recent_{
    width: 100%;
    height: 89%;
    position: absolute;
    z-index: 4;
    top: 0;
    visibility: hidden;
}
#recent_l{
    width: 100%;
    height: 90%;
    background-color: #616569;
    overflow-y: scroll;
    overflow-x: hidden;
}
#recent_l::-webkit-scrollbar{
    display: none;
}
#recentlog{
    width: 100%;
    height: 40px;
    background-color: #fa9712;
    display: flex;
    margin-top: 5px;
}
#recent_details{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    visibility:hidden ;
}
.recent_de_a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom,#bfc0c4,#9fa2ae);
    width: 100%;
    height: 70%;
}
.recent_de_a nav{
    width: 100%;
}
.recent_de_a aside{
    background-color: #9095a0;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 100%;
}
.recent_de_a footer{
    width: 100%;
    height: 14.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.recent_de_a main{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
main button{
    width:23.5%;
    height: 80%;
    border: 0;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #7f8392;
}
.recent_de_b{
    width: 100%;
    height: 33%;
    background-color: black;
    overflow-y: scroll;
    padding: 15px 0 12px 5px;

}
.recent_de_b::-webkit-scrollbar{
    display: none;
}
.space_fill{
    background-color: black;
    /* border-top:2px solid gray ;
    border-bottom:2px solid gray ; */
    width: 100%;
}
.space_fill p{
    font-size: 15px;
     font-weight: 800;
     color: white;
}
.space{
    width: 8%;
    height: 100%;
    background-color:black ;
    display: flex;
    align-items: center;
}
button[dey]{
    background-color: transparent;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -33px;
    margin-left: 220px;
    border-radius: 100%;
    border:2px solid blue;
    color: blue;

}
#favourite{
    width: 100%;
    height: 89%;
    position: absolute;
    z-index: 4;
    background-color:black;
    top: 0;
    visibility: hidden;
}
#voicemail{
    width: 100%;
    height: 89%;
    position: absolute;
    z-index: 4;
    background-color: blue;
    top: 0;
    visibility: hidden;
}
.message_inner{
    background-color: brown;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
.weather_inner{
    background-color: brown;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
.contact_inner{
    background-color: brown;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
.game_inner{
    background-color: brown;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
.sub_inner{
    background-color: blach;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
}
#sub_disp{
    width: 100%;
    height: 400px;
    background-image: url(airtime\ bg.webp);
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}
#sub_disp::-webkit-scrollbar{
    display: none;
}
.cart_inner{
    background-image: url(cart\ bg.avif);
    width: 90%;
    height: 90%;
    position: absolute;
    top: 36px;
    left: 15px;
    color: white;
    background-position: center;
    background-size: contain;
}
button[svg]{
    width: 100px;
    height: 100px;
    /* display: none; */
    background-color: rgb(25, 25, 25);
    color: white;
    position: absolute;
    top: 100PX;
    z-index: 3;
    right: 90px;
    border: 1px solid white;
    box-shadow: 0 0 20px 0 white;
    /* display: none ; */
    
}
button[svg] p{
    font-size: 10px;
    font-family: sans-serif;
}
 button[back]{
    background-color:rgba(255, 255, 255, 0.962);
    display: flex; 
    align-items: center;
    border: 0;
    color: rgba(255, 255, 255, 0.962);
}
.disp_buttons{
    width: 100%;
    height: 73%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 10px;
}
.calc_inner input{
    width: 100%;
    height: 60px;
    font-size: 45px;
    font-weight: 600;
    position: absolute;
    text-align: right;
    outline: none;
    border: 0;
    top: 60px;
    color: white;
    background-color: black;
}
.button{
    width: 61px;
    height: 61px;
    border-radius: 100%;
    margin-top: 9px;
    border: 0;
    margin-left: 0.5px;
    background-color: #393939;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
button[a]{
    background-color: #d2d2d2;
    color: black;
}
button[y]{
    color: white;
    background-color: #fa9712;
}
button[merge]{
    width: 122px;
    height: 61px;
    border-radius: 40px;
    margin-top: 5px;
    border: 0;
    margin-left: 3px;
}
.list{
    width: 100%;
    position: absolute;
    height: 70%;
    margin-top: 50px;
    overflow-y: scroll;
}
.list::-webkit-scrollbar{
    display: none;
}
table,thead,th,tbody,td,tr{
    font-size: 13px;
}
.note_disp{
    width: 99%;
    height: 50%;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    overflow-y: scroll;
}
.note_disp::-webkit-scrollbar{
    display: none;
}
div[note_dis]{
    margin-bottom: 10px;
    width: 90%;
    height: fit-content;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 20px 0 white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.note_disp textarea{
    width: 100%;
    height:100%;
}
.note_keys{
    width: 100%;
    height: 40%;
    background-color: #222224;
}
.note_keys_capital{
    width: 100%;
    height: 40%;
    background-color: #222224;
    
}
.note_keys_no{
    width: 100%;
    height: 40%;
    background-color: #222224;
    
}
.note_keys_sy{
    width: 100%;
    height: 40%;
    background-color: #222224;
    
}
.note_keys button{
    width: 29px;
    height: 35PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    border-radius: 5px;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #646465;
    color: white;

}
.note_keys_capital button{
    width: 29px;
    height: 35PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    border-radius: 5px;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    background-color: #646465;
    color: white;
}
.note_keys_no button{
    width: 29px;
    height: 35PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    border-radius: 5px;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    background-color: #646465;
    color: white;
}
.note_keys_sy button{
    width: 29px;
    height: 35PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    border-radius: 5px;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    background-color: #646465;
    color: white;
}
.note_keys_a{
    width: 100%;
    height: 25%;
    display: flex;
    gap: 3px;
    align-items: center;
}
.note_keys_b{
    width: 92%;
    height: 25%;
    margin-left: 12px;
    display: flex;
    gap: 3px;
    align-items: center;
}
.note_keys_c{
    width: 100%;
    height: 25%;
    display: flex;
    gap: 3px;
    align-items: center;
}
.note_keys_d{
    width: 100%;
    height: 25%;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: space-evenly;
}
button[ca]{
    width: 50px;
    height: 35px;
}
button[no]{
    width: 65px;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
}
button[space]{
    width: 130px;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
}
.note_keys_capital{
    display: none;
}
.note_keys_no{
    display: none;
}
#copy{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.603);
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}



@keyframes Airtel{
    from{
        transform: translateX(90px);
    }
    to{
        transform: translateX(-100px);
    }
}
@keyframes swipe {
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(10px);
    }
}
@keyframes pdance {
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(10px);
    }
}
@keyframes incorrect {
    from{
        right: 8px;
    }
    to{
        left: 8px;
    }
}